body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
}

#container {
	margin: auto;
	display: block;
	font-family: Lato, Raleway, sans-serif;
	height: 657px;
}

#topbar {
	position: fixed;
	width: 100%;
	min-width: 1400px;
	padding-top: 10px;
	height: 135px;
	background: white;
	z-index: 2;
}

#Jess-icon {
	float: left;
	left: 60px;
	position: relative;
	padding-top: 8px;

}

#header {
	color: black;
	font-size: 50px;
	letter-spacing: 1px;
	left: 180px;
	top: 15px;
 	font-family: 'Dawning of a New Day', cursive;
 	display: inline-block;
 	margin-left: 140px;
}

.info-item {
	display: inline-block;
	font-size: 20px;
	font-family: 'Dawning of a New Day', cursive;
	font-weight: 100;
	color: black;
	margin-left: 20px;
	left: 80px;
	position: relative;
}

#social {
	margin-left: 90%;
	top: 20px;
	position: absolute;
}

#social:hover {
	cursor: pointer;
	color: #8699b5;
}

#secondbar {
	position: fixed;
	background: #C1C6C5;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 100%;
	z-index: 1;
	top: 145px;
	min-width: 765px;
	color: #184959;
}

.tabs-container {
	position: relative;
	display: inline-block;
	left: 4%;
}

.tabs {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	padding: 5px 10px;
	opacity: 0.7;
	color: #FFFFFF;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
}

.tabs:hover {
	opacity: 1;
	cursor: pointer;
}

#background {
    position: fixed;
    top: 70px;
}

a {
    text-decoration: none;
    color: white;
}

