body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	margin-bottom: 600px;
}

#container {
	margin: auto;
	display: block;
	font-family: Lato, Raleway, sans-serif;
	height: 657px;
}

#topbar {
	position: fixed;
	width: 100%;
	min-width: 1400px;
	padding-top: 10px;
	height: 135px;
	background: white;
	z-index: 2;
}

#Jess-icon {
	float: left;
	left: 60px;
	position: relative;
	padding-top: 8px;

}

#header {
	color: black;
	font-size: 50px;
	letter-spacing: 1px;
	left: 180px;
	top: 15px;
 	font-family: 'Dawning of a New Day', cursive;
 	display: inline-block;
 	margin-left: 140px;
}

.info-item {
	display: inline-block;
	font-size: 20px;
	font-family: 'Dawning of a New Day', cursive;
	font-weight: 100;
	color: black;
	margin-left: 20px;
	left: 80px;
	position: relative;
}

#social {
	margin-left: 90%;
	top: 20px;
	position: absolute;
}

#social:hover {
	cursor: pointer;
	color: #8699b5;
}

#secondbar {
	position: fixed;
	background: #C1C6C5;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 100%;
	z-index: 1;
	top: 145px;
	min-width: 765px;
	color: #184959;
}

.tabs-container {
	position: relative;
	display: inline-block;
	left: 4%;
}

.tabs {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	padding: 5px 10px;
	opacity: 0.7;
	color: #FFFFFF;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
}

.tabs:hover {
	opacity: 1;
	cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.pagetitle {
	color: black;
	top: 200px;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	padding: 40px;
	position: absolute;
	letter-spacing: 10px;
}

#content {
	position: absolute;
	top: 300px;
	width: 100%;
	min-width: 1400px;
	overflow: hidden;
}

.projects {
	width: 400px;
	height: 440;
	background: #53B1AA;
	display: inline-block;
	margin-left: 60px;
	margin-bottom: 60px;
}

.course {
	position: relative;
	float: left;
	padding: 12px;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 15px;
}

.course:hover {
	cursor: pointer;
}

.timestamp {
	position: relative;
	float: right;
	padding: 12px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 300;
}

.picture-container {
	position: relative;
	top: 40px;
	margin: 0 auto;
	background: #FFFFFF;
	width: 380px;
	height: 380px;
}

.picture {
	position: absolute;
	padding: 10px;
	
	width: 360px;
	height: 360px;
	left: 0px;
}

.info {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	text-decoration: underline;
}

.info:hover {
	color: #53B1AA;
}

.icon-container {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.share, .comments {
	position: relative;	
	clear: both;
	padding-right: 5px;
	width: 35px;
}

#overlay {
	position: absolute;
	background:rgba(0,0,0,.75);
    text-align:center;
    width: 380px;
    height: 380px;
    opacity: 0;
    display: block;
    left: 0px;
    -webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.picture-container:hover #overlay {
	cursor: pointer;
	opacity: 1;
}

.title {
	position: relative;
}

.title div {
	position: relative;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	width: 320px;
	top: 20px;
	left: 30px;
	padding-bottom: 20px;
}

